.navBar-bg{
  background-color: #BD081C;
}

.navBar-bg a, .navBar-bg p{ 
  color: azure!important;
  font-weight: 500;
  font-size: 1.4;
}

.form-style {
 margin-top: 40px;
 display: flex;
 justify-content: center;
 flex-direction: column;
}

.form-style label{
  margin-top: 20px;
 }

.form-style Button{
  margin: 20px auto;
  width: 300px;
}